
p {
     color : rgba(223, 25, 111, 0.974);

}

html {
     font-size: 14px;
     font-family: Comic Sans MS;
     background-color: rgba(245, 244, 245, 0.974);
}

a:hover {/*only on specific states*/
     color :rgba(223, 25, 111, 0.974);
}

h1 {
     font-size: 60px;
     text-align: center;
}

p , li {
     font-size: 16px;
     line-height: 2;
     letter-spacing: 4px;
     
}


body {
     width : 800px; /*forces the body to always be 600px*/
     margin: 0 auto; /* former for top and latter for bottom*/
     background-color: rgb(209, 211, 73);
     padding: 0 20px 20px 20px;
     border: 5px solid black; 
}

h1 {
     margin : 0;
     padding : 20px;
     color : #00539F;
     text-shadow: 5px 3px 1px black;
}

img {
     display : block;
     margin : 0 auto ; 
}
